<!-- Start Header -->
  <tr>
    <td class="header">
      <table bgcolor="#000000" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
        
        <tr class="team-lif">
          <td class="image" align="center">
            <img src="https://dl.dropboxusercontent.com/u/33604129/beckypeter.com/email/livinginfaith/images/logo_acronym_team-09.png" alt="Team LIF" width="110" height="110"/>
          </td>
        </tr>
        <!-- end image -->

        <tr class="social">
          <td class="pb15 social-links">
            <table class="yahoo-table-fix" align="center" border="0" cellpadding="0" cellspacing="0">
            
              <tr>
                 <td class="prl10 social-icon facebook"><a class="white no-underline uppercase" href="https://www.facebook.com/trulybeckypeter">&#9656; Facebook</a></td>
                 <td class="prl10 social-icon pinterest"><a class="white no-underline uppercase" href="https://www.pinterest.com/trulybeckypeter/">&#9656; Pinterest</a></td>
                 <td class="prl10 social-icon youtube"><a class="white no-underline uppercase" href="http://www.youtube.com/trulybeckypeter">&#9656; Youtube</a></td>
                 <td class="prl10 social-icon instagram"><a class="white no-underline uppercase" href="https://instagram.com/trulybeckypeter/">&#9656; Instagram</a></td>
                 <td class="prl10 social-icon twitter"><a class="white no-underline uppercase" href="https://twitter.com/trulybeckypeter">&#9656; Twitter</a></td>
                 
              </tr>
              <!-- end paragraph -->
              
            </table> 
          </td>
        </tr>
        <!-- end social media -->
        
      </table> 
      <!-- END TABLE BLOCK -->
      
    </td>
  </tr>
  <!-- End Header -->