<tr>
  <td class="footer pb20">
    <table class="yahoo-table-fix responsive" align="center" border="0" cellpadding="0" cellspacing="0" width="560">
      
      <tr>
        <td class="footnote">Copyright © *|CURRENT_YEAR|* *|LIST:COMPANY|*, All rights reserved.</td>
      </tr>
      <!-- end footnote -->

      <tr>
        <td class="footnote">*|LIST:DESCRIPTION|*. Want to change how you receive these emails? You can <a href="*|UPDATE_PROFILE|*">update your preferences</a> or <a href="*|UNSUB|*">unsubscribe from this list</a></td>
      </tr>
      <!-- end footnote -->

      <tr>
        <td class="footnote">
          *|IFNOT:ARCHIVE_PAGE|*
            *|LIST_ADDRESS|*
          *|END:IF|*
        </td>
      </tr>
      <!-- end footnote -->
      
    </table> 
  </td>
</tr>
<!-- End Footer -->